html {
  background-color: #1e1e1e;
  color: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  width: 100vw;
  height: 100vh;
}

section {
  scroll-snap-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  z-index: 1;
  padding: 0 10vw;
}

.item {
  display: flex;
  width: 35vw;
  aspect-ratio: 4/3;
}

h1 {
  font-family: system-ui, sans-serif;
  font-size: 7vw;
  margin: 0 0;
}

canvas {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  width: 100svw;
  height: 100svh;
  z-index: -1;
  user-select: none;
}
