html,
body {
  height: 100svh;
  margin: 0;
  padding: 0;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
}
