html,
body {
  height: 100svh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family:
    Avenue X,
    sans-serif;

  overscroll-behavior: none;
  overflow: hidden;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.scroll-container {
  z-index: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 8rem;

  height: 100vh;

  opacity: 0;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* box-sizing: border-box; */

  gap: 8rem;

  padding: 8rem 0;

  /* outline: #236a88 1.5px solid; */

  /* height: 100vh; */
}

.panel {
  display: flex;
  box-sizing: border-box;
  width: 30vw;
  height: auto;
  aspect-ratio: 1/1;
  /* background-color: #236a88; */

  border: #236a88 1px solid;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  gap: 16rem;
  padding: 0rem 8rem;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  max-width: 40ch;
}

.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.story {
  display: flex;
  flex-direction: column;
  padding: 8rem 2rem;

  gap: 8rem;

  .corps {
    width: 100%;
    height: auto;
    aspect-ratio: 16/5;

    background-color: #d9d9d9;
  }

  .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    opacity: 0;

    .content {
      text-align: center;
    }

    h3 {
      max-width: 80%;
      font-size: 3vw;
    }

    h6 {
      width: 100%;
    }
  }
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 6vw;
  font-weight: 300;
  color: #236a88;

  opacity: 0;
}

h5 {
  width: 100%;
  font-size: 1rem;
  font-family: Satoshi-Bold, sans-serif;
  opacity: 0;
  color: #236a88;
}

p {
  font-family: Satoshi-Medium, sans-serif;
  font-size: 1rem;
  line-height: 120%;
  opacity: 0;
}

@media screen and (max-width: 1080px) {
  .row {
    gap: 4rem;
    padding: 0rem 4rem;
  }
}
